# Backend API URL (development: http://localhost:8000, production: https://api.yasminhospital.dinamixnet.id)
VITE_API_URL=https://api.yasminhospital.dinamixnet.id
VITE_BACKEND_URL=https://api.yasminhospital.dinamixnet.id

# Environment
VITE_ENV=production
